* {
  box-sizing: border-box;
}

.gameColumn {
  float: left;
  width: 33.33%;
  padding: 10px;
}

#gameRow:after {
  content: "";
  display: table;
  clear: both;
}

.cardTable tr,
.cardTable tr td,
.cardTable,
.columnTable,
.columnTable tr td,
.columnTable tr {
  border: 1px solid black;
  table-layout: fixed;
  word-wrap: break-word;
}

.selectCardTable tr td,
.selectCardTable {
  border: 5px solid green !important;
}

.forceHide {
  display: none !important;
}

.forceShow {
  display: block !important;
}
